@media screen and (max-width: 767px) {

@font-face {
    font-family: 'inter';
    src: url(../fonte/inter/static/Inter_18pt-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid rgb(243, 6, 6); */
}

:root {

    /* fundo */
    --fundobody: rgb(32, 32, 32); 

    /* Header */
    --header-bg: #111520; 

    /* Logo */
    --logo: #ffffff;

    /* Ícones */
    --icon: #ffffff;

    /* Botão do tema */
    --theme-bg: transparent;
    --theme-hover: rgba(255,255,255,.08); 

    /* Principal */
    --principal: #0077ff;



        /* Home */
        
    --overlay: rgba(32, 32, 32, 0.781);  

    --titulo-home: #ffffff;
    --texto-home: #ffffff;

    --curriculo-bg: rgb(51, 51, 51); 
    --curriculo-hover: rgba(31, 31, 31, 0.74);
    --curriculo-active: rgba(0, 0, 0, 0.801); 

    --curriculo-texto: #ffffff;


    /* Sobre Mim  */

    --corh1sobremim: rgb(180, 180, 180);

    --fundosobremim: linear-gradient(to bottom, rgb(29, 29, 29), rgb(44, 44, 44));
    --fundoelementos: rgb(22, 22, 22);
    --fundodados: #292929;
    --fundofaculdade: #181717b6;
    --corh2: white;
    --corp: rgb(185, 185, 185);


    /* Habilidades  */

    --corh1habilidades: white;
    --fundohabilidades: linear-gradient(180deg, #00060e 0%, #020b18 50%, #00040c 100%);
    --fundobolha: rgba(8, 17, 29, 0.9);
    --border: rgba(255, 255, 255, 0.274);
    --corh2habilidades: white;
    --corphabilidades: rgb(218, 218, 218);
    --corfundophabilidades: rgba(48, 48, 48, 0.233);


    /* Meus Projetos */

    --corh1projetos: white;

    --fundoprojetos: linear-gradient(180deg,#01091a,#020c1f,#020817);
    --buttonfundo: rgba(255,255,255,.02);
    --buttonp: white;
    --buttonborder: rgba(255,255,255,.08);
    --fundocard: rgba(248, 7, 7, 0.03);
    --borderimagem: rgba(255, 255, 255, 0.164);
    --opacity: .6;
    --bordercard: rgba(255, 255, 255, 0.164);
    --conteudoh3: white;
    --conteudop: #b3b3b3;
    --projetoa: white;
    --vercodigoi: #00040c;


    /* Contato */

    --corh1contato: white;

    --fundocontato: linear-gradient(180deg, #050816 0%, #070b1a 50%, #050816 100%);
    --fundocontatos: linear-gradient(to right, #0f1930, rgba(0, 0, 0, 0.288));
    --fundomensagem: linear-gradient(to right, #051835cb, rgba(1, 12, 37, 0.295));
    --fundofriends: linear-gradient(to right, #00030862, rgba(4, 19, 56, 0.979));
    --contatop: rgb(206, 206, 206);

    

    /* Footer  */

    --fundofooter: linear-gradient(180deg, #0D1117 0%, #0B0D12 100%);
    --footerp: #8A8F98;
    --footeravisop: #8A8F98;

}

body.light{

    --fundobody: rgb(223, 223, 223);

    --header-bg: #1E3A8A;

    --logo: #111827;

    --icon: #111827;

    --theme-bg: transparent;
    --theme-hover: rgba(0,0,0,.08);



        /* Home */

    --overlay: rgb(136, 136, 136);

    --titulo-home: #111827;
    --texto-home: #374151;

    --curriculo-bg: #ffffff;
    --curriculo-hover: #f3f4f6;
    --curriculo-active: #e5e7eb;

    --curriculo-texto: #111827;


    /* Sobre Mim  */


    --corh1sobremim: rgb(10, 10, 10);

    --fundosobremim: linear-gradient(to bottom, rgb(156, 156, 156), rgb(196, 195, 195));
    --fundoelementos: rgb(192, 192, 192);
    --fundodados: #c4c4c4;
    --fundofaculdade: #b1b1b1;
    --corh2: black;
    --corp: rgb(83, 83, 83);


    /* Habilidades  */

    --corh1habilidades: rgb(0, 0, 0);

    --fundohabilidades: linear-gradient(180deg, #dadada 0%, #c7cbd1 50%, #ffffff 100%);
    --fundobolha: #979797;
    --border: rgba(9, 25, 49, 0.445);
    --corh2habilidades: rgb(0, 0, 0);
    --corphabilidades: rgb(31, 31, 31);
    --corfundophabilidades: rgba(194, 194, 194, 0.568);


    /* Meus Projetos */

    --corh1projetos: black;

    --fundoprojetos: linear-gradient(180deg,#c9c9c9,#d4d4d4,#d3d7e0);
    --buttonfundo: #c2c2c2;
    --buttonborder: rgba(29, 66, 230, 0.534);
    --buttonp: black;
    --fundocard: rgb(167, 167, 167);
    --borderimagem: rgb(243, 244, 247);
    --opacity: .9;
    --bordercard: rgba(221, 221, 221, 0.774);
    --conteudoh3: black;
    --conteudop: #424242;
    --projetoa: black;
    --vercodigoi: #ffffff;


    /* Contato  */


    --corh1contato: black;

    --fundocontato: linear-gradient(180deg, #adb1c0 0%, #8f95aa 50%, #b2b6c9 100%);
    --fundocontatos: linear-gradient(to right, #95a3c4, rgba(255, 255, 255, 0.288));
    --fundomensagem: linear-gradient(to right, #a4aebecb, rgba(94, 94, 94, 0.295));
    --fundofriends: linear-gradient(to right, #94949462, rgba(170, 170, 170, 0.979));
    --contatop: black;


    /* footer */


    --fundofooter: linear-gradient(180deg, #828383 0%, #7c7c7c 100%);
    --footerp: #3f352b;
    --footeravisop: #bebebe;
    
}

body {
    font-family: 'inter';
    background: var(--fundobody);
    overflow-x: hidden;
}

.inicio {
    position: relative;

    width: 100%;
    min-height: 100vh;
    background: url(../imagens/MyDesignSanddude.jpeg); 
    background-size: cover;
    background-position: 48% center;
    background-repeat: no-repeat;

    overflow: hidden;
}

.inicio::before {
    content: '';
    position: absolute;
    inset: 0;

    background: var(--overlay);  
    z-index: 0;
    backdrop-filter: blur(1px);
}

.inicio > * {
    position: relative;
    z-index: 1;
}

header {
    /* border: 2px solid red; */
    background-color: var(--header-bg);
    position: relative;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    top: 0;
}


header > h1 {
    font-size: calc(1.6em + 1.5vw);
    padding: 5px;
    margin-left: 2vw ;
    color: var(--logo);
    text-shadow: 0px 2px 0px var(--header-bg);
}

header > h1 > span {
    text-shadow: 0px 3px 0px rgba(46, 46, 173, 0.918);
    color: var(--principal);
}

.overlay {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100dvh;
    background: rgba(46, 46, 46, 0.288);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 10;
    pointer-events: none;
    transform: translateZ(0);
    transition: opacity .3s ease;
    opacity: 0;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

#menu {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 22px 150px 45% 100px;
    background: linear-gradient(180deg, #050816 0%, #091224 45%, #0b1730 100%);
    position: fixed;
    top: 0;
    right: -100%;
    width: calc(240px + 20vw);
    height: 100vh;
    transition: .5s ease;
    z-index: 11;
}

#menu.active {
    right: 0;
}

header i#burguer {
    font-size: 2.4em;
    color: var(--icon);
    cursor: pointer;
    transform: translateY(9px);
    margin-right: 10px;
    
}

header i#close {
    font-size: 2.2em;
    color: var(--icon);
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-top: 14px;
    margin-right: 14px;
}

header button#theme-toggle {
    transform: translateY(1px);
    font-size: 1.5em;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 12px;
    width: 30px;
    height: 30px;
    background: var(--theme-bg);
    color: var(--icon);
    transition: .3s;
}

header button#theme-toggle:hover {
    background: var(--theme-hover);
}

header i#moon:hover {
    color: var(--principal);
}

nav div#imgandnome {
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 6px;
    width: 50%;
    height: 200px;
    margin-top: 40px;
}

nav div#imagem {
    background: url(../imagens/myimage.favicon.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 55%;
    height: 100px;
    border: 2px solid rgb(17, 17, 48);
    border-radius: 50%;
}
nav div#nome {
    font-size: 10px;
    color: rgb(207, 207, 207);
}

nav div#explorar {
    display: block;
    margin: auto;
    width: 90%;
    height: 100%;
    margin-top: 70px;
}

nav div#explorar > ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 25px;
}

nav div#explorar li {
    list-style: none;
}

nav div#explorar a {
    display: flex;
    align-items: center;
    padding: 18px 20px;
    font-size: 13px;
    color: white;
    text-decoration: none;

    background: rgba(10, 15, 28, 0.82);

    border: 1px solid rgba(59, 130, 246, .12);
    border-radius: 18px;
    color: #e5e7eb;
    font-weight: 500;
    transition: .3s ease;
    backdrop-filter: Blur(12px);
}

nav div#explorar a:hover {
    transform: rotateX(6px);
    border: 1px solid rgba(59, 130, 246, .35);
    background: rgba(18, 30, 55, 0, .95);
    box-shadow: 0 0 20px rgba(37, 99, 235, .15);
}

nav div#explorar a:active {
    background: linear-gradient(90deg, rgba(37, 99, 235, .25), rgb(15, 23, 42, .95));
    border: 1px solid rgba(59, 130, 246, .4) !important;
    color: #3b82f6;
    box-shadow: 0 0 25px rgba(37, 99, 235, .18);
}

section#container {
    /* border: 2px solid green; */
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 7px;
    min-height: 100vh;
}

section#container div.texto {
    /* border: 2px solid orange; */
    margin-left: calc(3px + 1vw);
    font-size: calc(4px + 3vw);
    color: var(--titulo-home);
    margin-top: 125px;
    
}

section#container div.texto > h1 > span {
    font-size: 1em;
    color: #0077ff;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.966);
}

section#container div.texto > p > span {
    font-size: 1.3em;
    color: #0077ff;
    text-shadow: 0px 0px 0px black;
    font-weight: bold;
}

article div.icons {
    margin-left: calc(2px + 1vw);
    font-size: calc(4px + 3vw);
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
}

article div.icons > ul {
    margin-left: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    

    /* border: 2px solid yellow; */
}

article div.icons > ul > li {
    /* border: 2px solid rgb(14, 136, 30); */
    list-style: none;
}

article div.icons > ul > li > a {
    padding: 3px 7px;
    border-radius: 26px;
    font-size: 1.4em;
    /* border: 2px solid orange; */
}

article div#curriculo a {
    background-color: var(--curriculo-bg);
    padding: 10px;
    margin-left: calc(10px + 0.7vw);
    color: var(--curriculo-texto);
    text-decoration: none;
    border-top: 3px solid var(--principal);
    border-radius: 7px;
    font-size: calc(4px + 2vw);
}

article div#curriculo a:hover {
    background-color: var(--curriculo-hover);
    color: var(--curriculo-texto);
    transition: 5s;
    text-decoration: underline;
}

article div#curriculo a:active {
    background-color: var(--curriculo-active);
    color: rgb(156, 155, 155);
    transition: 1s;
}


article div#curriculo i {
    color: var(--curriculo-texto);
    padding-right: 3px;
    transform: translateY(7px);
}

article div#curriculo i:hover {
    color: var(--principal);
    transition: 2s;
}





                                   /* Area sobre */





section#sobre {
    font-family: 'inter';
    background: var(--fundosobremim);
    min-height: 100vh;
}

section#sobre > h1 {
    color: var(--corh1sobremim);
    text-align: center;
    padding: 30px;
}
section#sobre > h1 > span {
    color: var(--principal);
    text-align: center;
}

section div#caixa {
    background-color: rgb(44, 44, 44);
    width: 94vw;
    min-height: 61vh;
    margin: auto;
    border-radius: 12px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border: 1px solid rgb(85, 85, 85);
}

section#sobre div.elementos {
    display: grid;
    grid-template-columns: 33% 66.2%;
    grid-template-rows: 285px 361px;
    height: 650px;
    gap: 5px;
    border-radius: 12px;
    border-top-right-radius: 13px;
    background-color: var(--fundoelementos);
}

section div.dados1 {
    border: 1px solid rgb(100, 100, 100);
    border-radius: 7px;
    border-top-left-radius: 13px;
    background-color: var(--fundodados);
    height: 277px;
}

section div.dados1 div.imagem{
    background: url(../imagens/myimage.favicon.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    height: 119px;
}

section div.dados1 h2 {
    margin-left: 5px;
    font-size: 2vw;
    color: var(--corh2);
}

section div.dados1 h2 > span {
    color: var(--principal);
}

section div.dados1 p {
    width: 80%;
    margin-left: 5px;
    margin-top: 8px;
    font-size: calc(3.5px + 1.1vw);
    color: var(--corp);
}



section div.dados2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
}

section div.dados2 i {
    color: #0077ff;
}

section div.dados2-1 {
    padding: 7px;
    height: 82px;
    background-color: var(--fundodados);
    border-radius: 7px;
    border-top-right-radius: 15px;
    border: 1px solid rgb(100, 100, 100);
    
}

section div.dados2-1 > h2 {
    color: var(--corh2);
    margin-left: 10px;
    font-size: calc(6.8px + 0.5vw);
}

section div.dados2-1 > p {
    margin-left: 6px;
    margin-top: 11px;
    font-size: calc(3.5px + 1.1vw);
    width: 90%;
    color: var(--corp);
}

section div.dados2-2 {
    padding: 7px;
    height: 77px;
    background-color: var(--fundodados);
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
}

section div.dados2-2 > p {
    margin-left: 7px;
    margin-top: 10px;
    font-size: calc(3.5px + 1.1vw);
    width: 90%;
    color: var(--corp);
}

section div.dados2-2 > h2 {
    color: var(--corh2);
    margin-left: 10px;
    font-size: calc(6.8px + 0.5vw);
}

section div.dados2-3 {
    border: 1px solid rgb(100, 100, 100);
    padding: 5px;
    height: 72px;
    border-radius: 7px;
    background-color: var(--fundodados);
}

section div.dados2-3 > h2 {
    color: var(--corh2);
    margin-left: 10px;
    font-size: calc(6.8px + 0.5vw);
}

section div.dados2-3 > p {
    margin-left: 6px;
    margin-top: 10px;
    font-size: calc(3.5px + 1.1vw);
    width: 90%;
    color: var(--corp);
}

section div.dados3 {
    border: 1px solid rgb(100, 100, 100);
    border-radius: 7px;
    background-color: var(--fundodados);
    padding: 3px;
}

section div.dados3 i {
    color: var(--principal);
}

section div.dados3 div.rotina > h2 {
    margin-left: 6px;
    color: var(--corh2);
    font-size: calc(1px 40vw);
    
}

section div.dados3 h2 {
    color: var(--corh2);
    font-size: 2vw;
    margin-top: 2px;
}

section div.dados3 p {
    margin-top: 1vw;
    margin-left: 12px;
    width: 80%;
    color: var(--corp);
    font-size: calc(8.4px + 0.2vw);
}

section div.dados4 {
    border: 1px solid rgb(100, 100, 100);
    border-radius: 7px;
    background-color: var(--fundodados);
    padding: 3px;
}

div.dados4 > h2 {
    font-size: calc(1px + 0.8em);
    margin-top: 5px;
    margin-left: 12px;
    color: var(--corh2);
}

div.dados4 i {
    color: var(--principal);
}

div.componentes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 47.5px 1fr 1fr;
    gap: 2.5px;
    padding-left: 1px;
    padding-right: 0px;
}

div.faculdade {
    grid-column: 1 / 4;
    border: 1px solid rgb(100, 100, 100);
    background-color: var(--fundofaculdade);
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 1px;
}

div.faculdade > p {
    margin-left: 1.7vw;
    font-size: 1.8vw;
    color: var(--corh2);
    width: 90%;
}

div.faculdade p.p2 {
    margin-left: 15px;
}

div.faculdade > p > span {
    color: var(--principal);
}

div.registros {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fundodados);
    border-radius: 6px;
    padding: 5px;
    border: 1px solid rgb(100, 100, 100);
    height: 127.5px;
}

div.registros > i {
    margin-top: 3px;
    font-size: 2.5vw;
}

div.registros > h2 {
    position: relative;
    color: var(--corh2);
    font-size: calc(2px + 1.4vw);
    text-align: center;
}

div.registros > p {
    color: var(--corp);
    font-size: calc(0.9vw + 3px);
    text-align: center;
}

div.dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    margin-bottom: 6px;
}

div.dots span {
    width: 3px;
    height: 3px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

div.dots span.active {
    background-color: var(--principal);
    box-shadow: 0 0 4px #171247;
}



                            /* Area Habilidades */




section#habilidades {
    background: var(--fundohabilidades);
    height: auto;
    font-family: 'inter';
}

section#habilidades > h1 {
    font-size: 1.8em;
    padding: 30px;
    text-align: center;
    color: var(--corh1habilidades);
}

section#habilidades > h1 > span {
    color: var(--principal);
}

section#habilidades div.caixa {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 12px;
    margin: auto;
    width: 89vw;
    min-height: 90vh;
    border-radius: 15px;
    padding-bottom: 30px;
}

section#habilidades div.bolha {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    background-color: var(--fundobolha);
    border: 1px solid var(--border);
}

section#habilidades div.icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    row-gap: 11px;
    column-gap: 8px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    margin-bottom: 35px;
}

section#habilidades div.bolha > h2 {
    color: var(--corh2habilidades);
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: 600;
}

section#habilidades div.bolha > h2 > i {
    color: #0c67ddad;
    margin-right: 10px;
}

section#habilidades div.icons > p {
    text-align: center;
    color: var(--corphabilidades);
    font-size: 11px;
    font-weight: 500;
    padding: 12px 0px;
    background: var(--corfundophabilidades);
    border-radius: 6px;

}

section#habilidades div.icons i {
    font-size: 1.6em;
    margin-right: 7px;
    vertical-align: middle;
}




                            /* Area Projetos  */




section#projetos{
    min-height: 100vh;
    background: var(--fundoprojetos);
}

section#projetos > h1{
    color: var(--corh1projetos);
    font-size: 2rem;
    text-align: center;
    padding: 30px;
}

section#projetos > h1 span{
    color: var(--principal);
}

/* CARD */

section#projetos div.filtro{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 12px;
    width: 92%;
    margin: 18px auto;
}

section#projetos div.filtro button{

    width: calc(100px + 10vw);
    height: 45px;
    background: var(--buttonfundo);
    border: 1px solid var(--buttonborder);
    border-radius: 6px;
    cursor: pointer;
    backdrop-filter: blur(10px);
}

section#projetos div.filtro button:hover{
    transform: translateY(-3px);
    border-color: #0d6efd;
    background: rgba(13,110,253,.12);
}

section#projetos div.filtro button.filtro-ativo{
    background: rgba(13,110,253,.2);
    border: 1px solid #0d6efd;
    box-shadow: 0 0 20px rgba(13,110,253,.25);
}

section#projetos div.filtro button p{

    color: var(--buttonp);
    font-size: .63rem;
    font-weight: 500;
}

section#projetos div.filtro button p i{
    font-size: 0.86rem;
    color: var(--buttonp);
    margin-right: 5px;
}

section#projetos div.projetos {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

section#projetos .card-projeto{
    width: 92%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 6px;
    margin-bottom: 10px;
    background: var(--fundocard);
    border: 1px solid var(--bordercard);
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
}

section#projetos .imagem1{

    width: 135px;
    height: 140px;
    border-radius: 10px;

    flex-shrink: 0;
    background-image: url(../imagens/projetosIMG/Tela-de-Cadastro.png);
    background-size: cover;
    background-position: center;
    margin-left: 3px;

    border: 1px solid var(--borderimagem);
    opacity: var(--opacity);
}

section#projetos .imagem2{

    width: 135px;
    height: 140px;
    border-radius: 10px;

    flex-shrink: 0;
    background-image: url(../imagens/projetosIMG/tela-de-login-one.png);
    background-size: cover;
    background-position: center;
    margin-left: 3px;

    border: 1px solid var(--borderimagem);
    opacity: var(--opacity);
}

section#projetos .imagem3{

    width: 135px;
    height: 140px;
    border-radius: 10px;

    flex-shrink: 0;
    background-image: url(../imagens/projetosIMG/projeto-em-desenvolvimento.png);
    background-size: cover;
    background-position: center;
    margin-left: 3px;

    border: 1px solid var(--borderimagem);
    opacity: var(--opacity);
}

section#projetos .imagem4{

    width: 135px;
    height: 140px;
    border-radius: 10px;

    flex-shrink: 0;
    background-image: url(../imagens/projetosIMG/projeto-em-desenvolvimento.png);
    background-size: cover;
    background-position: center;
    margin-left: 3px;

    border: 1px solid var(--borderimagem);
    opacity: var(--opacity);
}

section#projetos .imagem5{

    width: 135px;
    height: 140px;
    border-radius: 10px;

    flex-shrink: 0;
    background-image: url(../imagens/projetosIMG/projeto-em-desenvolvimento.png);
    background-size: cover;
    background-position: center;
    margin-left: 3px;

    border: 1px solid var(--borderimagem);
    opacity: var(--opacity);
}

section#projetos .imagem6{

    width: 135px;
    height: 140px;
    border-radius: 10px;

    flex-shrink: 0;
    background-image: url(../imagens/projetosIMG/projeto-em-desenvolvimento.png);
    background-size: cover;
    background-position: center;
    margin-left: 3px;

    border: 1px solid var(--borderimagem);
    opacity: var(--opacity);
}

section#projetos .conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

section#projetos .conteudo h3{
    color: var(--conteudoh3);
    margin-top: 10px;
    font-size: 0.7rem;
}

section#projetos .conteudo h3 i{
    color: var(--principal);
    font-size: 0.8rem;
    margin-right: 5px;
}

section#projetos .conteudo p{
    font-size: calc(6.5px + 0.6vw);
    color: var(--conteudop);
    line-height: 1.2;
    max-width: 85%;
}

section#projetos .tecnologias{
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
}

section#projetos .tecnologias span{
    background: rgba(13,110,253,.12);
    color: #4f93ff;
    padding: 6px 10px;
    border-radius: 10px;
    font-size: .5rem;
}

section#projetos .links-projeto{
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

section#projetos .links-projeto a{
    font-size: 8px;
    text-decoration: none;
    color: var(--projetoa);
    transition: .3s;
    padding-bottom: 5px;
}

section#projetos .links-projeto a i#verprojeto{
    font-size: 10px;
    color: var(--principal);
    margin-right: 5px;
}

section#projetos .links-projeto a i#vercodigo{
    font-size: 10px;
    background: var(--vercodigoi);
    padding: 2px;
    border-radius: 5px;
    margin-right: 5px;
}

section#projetos .links-projeto a:hover{
    color: #0d6efd;
}

.hide {
    display: none !important;
}





                        /* Area contatos  */





section#contato {
    background: var(--fundocontato);
    color: white;
    min-height: 100vh;
    font-family: 'inter';
}

section#contato > h1 {
    font-size: 1.9em;
    color: var(--corh1contato);
    text-align: center;
    padding: 30px;
}

section#contato > h1 > span {
    color: var(--principal);
}

section#contato div.contatos {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 88vw;
    background: var(--fundocontatos);
    border: 1px solid #1e293b;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 89, 255, 0.08);
    padding: 10px;
    margin-bottom: 10px;
}

section#contato div.texto {
    margin-top: 10px;
    margin-left: 15px;
}

section#contato div.texto > h2 {
    color: var(--principal);
    font-size: calc(1vw + 12px);
    margin-bottom: 10px;
}

section#contato div.texto > p {
    color: var(--contatop);
    font-weight: 500;
    font-size: calc(0.5vw + 9.5px);
    line-height: 1.4;
    width: 100%;
    max-width: 44vw;
    margin-bottom: 6vw;
}

section#contato div.informacoes {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 0px;
    width: 98%;
    background: rgba(7, 19, 44, 0.514);
}

section#contato div.informacoes .contato-card {
    display: grid;
    grid-template-columns: 60px 1fr 30px;
    align-items: center;
    padding: 1.7vw;
    border: 1px solid #1e293b;
    border-radius: 8px;

    text-decoration: none;
    color: white;
    cursor: pointer;
}

section#contato div.informacoes div.icon {
    font-size: 21px;
    width: 32px;
    padding-top: 7px;
    padding-right: 3px;
    padding-left: 2.5px;
    padding-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: var(--principal);
    border-radius: 22px;
    transition: all 0.3s ease;
}

section#contato div.informacoes div.icon:hover {
    transition: translate(-3px);
}

section#contato #email {
    padding-right: 4px;
    background: #ea4335;
}

section#contato #email:hover {
    box-shadow: 0 0 20px #ea4339;
}

section#contato #whatsapp {
    background: #25d366;
}

section#contato #github {
    background: rgb(2, 2, 2);
}

section#contato #github:hover {
    box-shadow: 0 0 20px #ffffff;
}

section#contato #linkedin {
    background: #0a66c2;
}

section#contato #linkedin:hover {
    box-shadow: 0 0 20px #0a66c2;
}

section#contato #whatsapp:hover {
    box-shadow: 0 0 20px #25d366;
}

section#contato div.informacoes h3 {
    color: white;
    font-size: 12px;
    font-weight: 500;
}

section#contato div.informacoes p {
    font-size: calc(0.8vw + 7px);
    color: var(--principal);
}


section#contato div.mensagem {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 88vw;
    background: var(--fundomensagem);
    border: 1px solid #1e293b;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 89, 255, 0.08);
    padding-right: 15px;
    margin-bottom: 10px;
}

section#contato div.formulario > form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

section#contato div.form-group {
    display: flex;
    align-items: stretch;
    border: 1px solid rgb(66, 66, 66);
    border-radius: 8px;
    overflow: hidden;
    color: white;
    background: linear-gradient(to right, rgba(2, 6, 23, 0.95), rgba(5, 15, 35, 0.85));
} 

section#contato div.form-group i{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    color: rgba(255, 255, 255, 0.671);
    border-right: 1px solid rgb(66, 66, 66);
    margin-top: 10px;
} 

section#contato div.form-group input{
    width: 100%;
    border: none;
    background: transparent;
    color: white;
    padding: calc(1vw + 6px);
    outline: none;
}

section#contato div.form-group textarea {
    width: 100%;
    border: none;
    background: transparent;
    color: white;
    padding: 12px;
    min-height: 50px;
    resize: none;
    outline: none;
}

section#contato input::placeholder {
    color: #8b96b1;
    font-size: 0.88rem;
}

section#contato textarea::placeholder {
    color: #8b96b1;
    font-size: 0.88rem;
}

section#contato button[type="submit"] {
    margin-top: 10px;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, #0c2150, #1d4ed8);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

section#contato button[type="submit"]:hover {
    transform: translateY(-2px);
}



section#contato div.friends {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 88vw;
    background: var(--fundofriends);
    border: 1px solid #1e293b;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 89, 255, 0.08);
    padding: 10px;
}

section#contato div.friends > h2 {
    color: var(--principal);
    font-size: calc(1vw + 11px);
    margin-bottom: 8px;
}

section#contato div.friends > p {
    color: var(--contatop);
    font-weight: 400;
    font-size: calc(0.5vw + 9.5px);
    line-height: 1.4;
    width: 100%;
    max-width: 47vw;
    margin-bottom: 0vw;
}




                       /* Area descriçao */



    

footer {
    color: white;
    background: var(--fundofooter);
    min-height: 260px;
}

footer div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

footer div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    margin-top: 30px;
}

footer div.logo span.g {
    margin-right: -8px;
    color: #d9d9d9;
}

footer div.logo span.e {
    color: #d9d9d9;
}

footer div.nome{
    font-size: calc(6px + 0.6vw);
    color: #c9ccd1af;
}

footer div.nome span{
    color: #F2F2F2;
}

footer div.paragrafo {
    font-size: 8px;
    color: var(--footerp);
    letter-spacing: 4px;
}

footer hr {
    border: none;
    height: 1px;
    background: #2a2d35;
    width: 80%;
    margin-top: 15px;
}

footer div.graca {
    color: #c7c8ca;
    width: 70%;
    font-size: 8px;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-left: 30px;
}

footer div.final {
    color: var(--footeravisop);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer p.p1 {
    text-align: center;
    font-size: 10px;
}

footer p.p1 span{
    color: rgb(199, 199, 199);
}

footer p.p2 {
font-size: 10px;
}


}